<div class="container form-group"><form (ngSubmit)='add()'>
    <label>Name: </label>
    <input type="text" placeholder="Name" [(ngModel)]='p.Name' name="Name"><br/>
    <label>DOB: </label>
    <input type="text" placeholder="DOB" [(ngModel)]='p.DOB' name="DOB"><br/>
    <label>Address: </label>
    <input type="text" placeholder="Address" [(ngModel)]='p.Address' name="Address"><br/>
    <label>Phone: </label>
    <input type="text" placeholder="Phone" [(ngModel)]='p.Phone' name="Phone"><br/>
    <button type="submit" class="btn btn-primary btn-lg" >Submit</button>
</form></div>